@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap');

/* Fonts */
:root {
    --default-font: "Battambang", serif;
    --heading-font: "Poppins", serif;
    --nav-font: "Urbanist", serif;
    --Inter-font: "Inter", serif;
    --features-font: "Mada", serif;
}

/* Global Colors */
:root {
    --background-color: #AD2112;
    --light-bg: rgba(173, 33, 18, 0.7);
    --default-color: #3d4348;
    --heading-color: #F4B81C;
    --accent-color: #AD2112;
    --surface-color: #ffffff;
    --shadow: #00000040;
}

/* Nav Menu Colors */
:root {
    --nav-color: #000000;
    --nav-hover-color: #AD2112;
    --nav-mobile-background-color: rgba(173, 33, 18, 0.9);
    --nav-dropdown-background-color: rgba(173, 33, 18, 0.9);
    --nav-dropdown-color: #000000;
    --nav-dropdown-hover-color: #AD2112;
}

/* Smooth scroll */
:root {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
}

/*--------------------------------------------------------------
  # General Styling & Shared Classes
  --------------------------------------------------------------*/
body {
    color: var(--default-color);
    background-color: var(--background-color);
    font-family: var(--default-font);
}

/* heading top */
.heading-top {
    padding: 0px 70px 0px 70px;
    background-color: var(--background-color);
    font-family: var(--nav-font);
}

.heading-bottom {
    padding: 10px 70px;
    background-color: var(--surface-color);
    box-shadow: var(--shadow);
}

.heading-top ul {
    padding: 10px 0px;
    margin: 0px;
}

.heading-top span {
    color: var(--heading-color);
    margin: 0px 10px 0px 0px;
}

.heading-top ul li {
    display: flex;
    flex-direction: column;
    justify-content: end;
    float: inline-end;
}

.heading-top ul li a {
    color: var(--surface-color);
    gap: 10px;
    text-decoration: none;
}

i.bi.bi-envelope {
    margin: 0px 6px 0px 0px;
}

i.bi.bi-telephone {
    margin: 0px 1px 0px 0px;
    color: var(--heading-color);
    padding-right: 8px;
}

/* heading top end */
/*--------------------------------------------------------------
  # Global Header
  --------------------------------------------------------------*/
.header {
    color: var(--default-color);
    background-color: var(--background-color);
    transition: all 0.5s;
    z-index: 997;
}

.header .logo img {
    max-height: 50px;
    margin-right: 8px;
}

.header .logo h1 {
    font-size: 40px;
    margin: 0;
    font-weight: 700;
    color: var(--nav-color);
    font-family: var(--default-font);
}

.header .logo h1 span {
    font-weight: 400;
    color: var(--accent-color);
}

.header .logo h1 sup {
    font-family: var(--Inter-font);
    font-size: 12px;
    font-weight: 700;
    margin-left: -4px;
    top: -1.5em !important;
}

.btn-primary {
    background: var(--background-color) !important;
    border-radius: 5px !important;
    border-color: var(--accent-color) !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    font-family: var(--nav-font) !important;
}

.drp-btn {
    display: flex !important;
    align-items: center;
    gap: 8px;
}

.drp-btn img {
    width: 24px;
    height: 24px;
}

.scrolled .header {
    box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
}

/* Index Page Header
  ------------------------------*/
.index-page .header {
    background-color: rgba(255, 255, 255, 0);
}

/* Index Page Header on Scroll
  ------------------------------*/
.index-page.scrolled .header {
    background-color: #ffffff;
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
[x-cloak] {
    display: none !important;
}

/*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/
.footer {
    color: var(--default-color);
    background-image: linear-gradient(rgba(173, 33, 18, 0.9), rgba(173, 33, 18, 0.9)),
        url('../images/footer/footer-bg.png');
    background-position: center;
    background-size: cover;
    font-size: 14px;
    position: relative;
}

.footer .footer-about .logo {
    line-height: 1;
    margin-bottom: 25px;
}

.footer .footer-about .logo img {
    max-height: 50px;
    margin-right: 6px;
}

.footer .footer-about .logo h1 {
    font-family: var(--default-font);
    font-size: 40px;
    font-weight: 400;
    color: var(--surface-color);
}

.footer .footer-about .logo h1 span {
    font-weight: 700;
    color: var(--heading-color);
}

.footer .footer-about .logo h1 sup {
    font-family: var(--Inter-font);
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFF;
    top: -1.5em;
    margin-left: -3px;
}

.footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 50%);
    font-size: 16px;
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    margin-right: 10px;
    transition: 0.3s;
}

.footer .social-links a:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.footer h4 {
    font-size: 26px;
    font-weight: 700;
    font-family: var(--nav-font);
    position: relative;
    color: var(--heading-color);
    text-transform: uppercase;
    padding-bottom: 12px;
}

.footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .footer-links ul i {
    padding-right: 2px;
    line-height: 0;
}

.footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.footer .footer-links ul li:first-child {
    padding-top: 0;
}

.footer .footer-links ul a {
    color: var(--surface-color);
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    font-family: var(--nav-font);
    text-decoration: none;
    line-height: 1;
    transition: color 0.3s ease;
}

.footer .footer-links ul a:hover {
    color: var(--nav-color);
    font-weight: 700;
}

.footer .footer-links .social {
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.footer .footer-links .social img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.footer .footer-links .con i {
    margin-right: 10px;
}

.footer .footer-contact img {
    width: 55%;
    max-width: 100%;
    transition: transform 0.4s ease;
}

.footer .footer-contact img:hover {
    transform: scale(0.9);
}

.footer .copyright,
.footer .copyright a {
    padding-top: 10px;
    padding-bottom: 10px;
    background: var(--heading-color);
    color: #000000;
    font-family: var(--nav-font);
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}

.footer .copyright p {
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/
.scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 40px;
    bottom: -15px;
    z-index: 99999;
    background-color: var(--accent-color);
    width: 44px;
    height: 44px;
    border-radius: 50px;
    transition: all 0.4s;
}

.scroll-top i {
    font-size: 24px;
    color: var(--surface-color);
    line-height: 0;
}

.scroll-top:hover {
    background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
    color: var(--contrast-color);
}

.scroll-top.active {
    visibility: visible;
    opacity: 1;
    bottom: 20px;
}

/* ----------- index-page -------------- */

section,
.section {
    padding: 45px 0 25px 0;
    scroll-margin-top: 100px;
    overflow: clip;
}

/*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
.hero {
    width: 100%;
    min-height: 60vh;
    position: relative;
    padding: 170px 0 40px 0;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.hero .hero-bg img {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    margin-top: 80px;
}

.hero .container {
    position: relative;
    z-index: 3;
}

.hero .hero-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 120px;
}

.hero .hero-title h1 {
    margin: 0;
    font-weight: 700;
    font-family: var(--default-font);
    color: var(--surface-color);
    font-size: 100px;
    line-height: 100px;
}

.hero .hero-title h1 span {
    font-weight: 300;
}

.hero .hero-title h1 sup {
    font-family: var(--Inter-font);
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
    margin-left: -8px;
    top: -2.5em;
}

.hero .hero-des h2 {
    color: var(--heading-color);
    font-weight: 700;
    font-size: 61px;
    line-height: 64px;
}

.hero .hero-img {
    width: 100%;
    height: 100%;
    margin-top: 25px;
}

.hero .hero-img img {
    width: 95%;
    height: 100%;
}

.hero .hero-btns {
    display: flex;
}

.hero .hero-btns a {
    width: 37%;
}

.hero .hero-btns img {
    width: 100%;
    max-width: 85%;
    height: 100%;
    transition: transform 0.4s ease, box-shadow 0.4s ease, filter 0.4s ease;
}

.hero .hero-btns img:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.section-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.section-title img {
    width: 40px;
    height: 40px;
}

.section-title h1 {
    font-family: var(--nav-font);
    font-size: 48px;
    font-weight: 600;
    color: var(--nav-color);
}

.section-title h1 span {
    font-size: 48px;
    font-weight: 700;
    color: var(--accent-color);
}

.section-title h2 {
    font-family: var(--nav-font);
    font-size: 48px;
    font-weight: 600;
    color: var(--heading-color);
}

.section-title h2 span {
    font-size: 48px;
    font-weight: 700;
    color: var(--surface-color);
}

/*--------------------------------------------------------------
  # Auctions Section
  --------------------------------------------------------------*/
.auctions {
    background-image: url('../images/auction/bg.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.auctions-details,
.features-details {
    padding-top: 20px;
}

.auctions .auctions-details .card {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.auctions .auctions-details .card .auc-img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.auctions .auctions-details .card .auc-img img {
    position: relative;
    height: inherit;
    width: 100%;
    height: 100%;
}

.auctions .auctions-details .card-body {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.auctions .auctions-details .card-body .auction-img {
    width: 70px;
    height: 70px;
    padding-right: 10px;
    align-items: center;
    display: flex;
}

.auctions .auctions-details .card-body .auction-img img {
    border-radius: 100%;
}

.auctions .auctions-details .card-body .card-title {
    font-family: var(--nav-font);
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    text-transform: uppercase;
}

.auctions .auctions-details .card-auc img {
    width: 30px;
    height: 30px;
    border: 1px solid #AD2112;
    border-radius: 100%;
    margin-left: -12px;
}

.auctions .auctions-details .card-auc img:first-child {
    margin: 0;
}

/*--------------------------------------------------------------
  # Features Section
  --------------------------------------------------------------*/
.features,
.help,
.video,
.pricing {
    background-image: url('../images/features/features-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.features .features-details {
    padding: 0 3rem;
}

.features .mobile-features {
    display: none;
}

.features .features-left-content,
.features .features-right-content {
    display: flex;
    align-items: center;
}

.features .card {
    background: #FFFFFF;
    box-shadow: 0px 0px 11px 0px #0000001A;
    border-radius: 15px;
    border-bottom: 6px solid #ccc;
    margin-bottom: 25px;
}

.features .card:hover,
.features .card.active {
    border-bottom: 6px solid #910F0D;
}

.features .fc-main h5,
.features .fm-main h5 {
    font-family: var(--nav-font);
    font-size: 26px;
    font-weight: 600;
    text-align: right;
    color: #000000;
}

.features .fc-main p,
.features .fm-main p {
    font-family: var(--nav-font);
    font-size: 16px;
    font-weight: 600;
    text-align: right;
    color: #909090;
}

.features .features-right-content .fc-main h5,
.features .features-right-content .fc-main p,
.features .fm-main h5,
.features .fm-main p {
    text-align: left;
}

.features .fc-main h5 img,
.features .fm-main h5 img {
    width: 36px;
    height: 36px;
}

.features .f-num h1,
.features .fm-num h1 {
    font-family: var(--features-font);
    font-size: 100px;
    font-weight: 300;
    letter-spacing: -0.07em;
    color: #DADCDE99;
    text-align: right;
    padding-right: 5px;
}

.features .fm-num h1 {
    padding-left: 10px;
}

.features .features-slider img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.features .feature-btn {
    display: none;
}

.carousel-control-next-icon {
    background-image: url('../images/features/arrow-right-circle-fill.svg') !important;
}

.carousel-control-prev-icon {
    background-image: url('../images/features/arrow-left-circle-fill.svg') !important;
}

/*--------------------------------------------------------------
  # About Section
  --------------------------------------------------------------*/
.about {
    background-image: url('../images/about/about-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.about .container,
.about .container .row {
    padding-top: 3rem;
}

.about .about-img img {
    width: 100%;
    height: 100%;
}

.about .about-details {
    display: flex;
    align-items: center;
    padding: 45px 30px;
    flex-direction: column;
    background: #00000066;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    margin-bottom: 20px;
}

.about .about-details .about-heading h2 {
    font-size: 56px;
    color: var(--heading-color);
    line-height: 72px;
    font-family: var(--nav-font);
    font-weight: 700;
}

.about .about-details .about-heading h2 span {
    font-weight: 700;
    font-family: var(--default-font);
}

.about .about-details .about-heading h2 span span {
    font-weight: 300;
    font-family: var(--default-font);
}

.about .about-details .about-heading h2 sup {
    font-family: var(--Inter-font);
    font-size: 12px;
    font-weight: 700;
    top: -2.5em;
    margin-left: -5px;
}

.about .about-details .about-content p {
    font-family: var(--nav-font);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    color: var(--surface-color);
}

.register-btn a {
    background: var(--Color-2, #F4B81C) !important;
    color: #000000;
    padding: 12px 24px;
    border-color: #F4B81C !important;
    font-size: 18px !important;
    font-family: var(--nav-font) !important;
    font-weight: 600 !important;
}

.register-btn a i {
    box-shadow: 0px 0px 4px 0px #0000002B;
    color: var(--accent-color);
    margin-left: 6px;
}

.register-btn a:hover {
    color: #000000;
    border-color: #000000 !important;
    border-right: 3px solid #000000 !important;
}

/*--------------------------------------------------------------
  # Mobile App Section
  --------------------------------------------------------------*/
.mobile-app,
.clients {
    background-image: url('../images/mobile-app/mobile-app-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.mobile-app .mobile-app-img img {
    width: 100%;
    height: 100%;
}

.mobile-app .mobile-app-heading img {
    width: 45px;
    height: 45px;
}

.mobile-app .mobile-app-heading h1 {
    font-size: 48px;
    font-family: var(--nav-font);
    font-weight: 600;
    color: #000000;
    line-height: 60px;
}

.mobile-app .mobile-app-heading h1 span {
    font-weight: 700;
    color: var(--accent-color);
    font-family: var(--default-font);
}

.mobile-app .mobile-app-heading h1 span sup {
    font-family: var(--Inter-font);
    font-size: 12px;
    font-weight: 700;
    top: -2.0em;
    margin-left: -4px;
}

.mobile-app .mobile-app-heading h1 span span {
    font-weight: 300;
}

.mobile-app .mobile-app-content p {
    font-size: 22px;
    font-family: var(--nav-font);
    line-height: 38px;
    font-weight: 500;
    color: #000000;
}

.mobile-app .mobile-app-list p {
    font-family: var(--nav-font);
    font-size: 23px;
    font-weight: 500;
    line-height: 31px;
    color: var(--accent-color);
}

.mobile-app .mobile-app-list p i {
    padding-right: 20px;
}

/*--------------------------------------------------------------
  # Client Section
  --------------------------------------------------------------*/
.clients-details {
    padding: 20px 0;
}

.clients .clients-details .client-img {
    border: 1px solid #CFCDCD;
    margin: 10px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.clients .clients-details .client-img img {
    padding: 10px 5px;
    max-width: 100%;
    height: 110px;
}

.clients .clients-details .client-img:hover {
    transform: scale(1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    background: #ffffff;
}

/*--------------------------------------------------------------
  # Help Section
  --------------------------------------------------------------*/
.help-details .card {
    border-radius: 10px;
    box-shadow: 0px 2px 8px 0px #0000001A;
    background: #FFFFFF;
    height: 100%;
}

.help-details .card img {
    border-radius: 8px;
    padding: 10px 10px 0px 10px;
}

.help-details .card .card-body .card-title {
    font-family: var(--nav-font);
    font-size: 26px;
    font-weight: 600;
    line-height: 31.2px;
    text-align: center;
    color: var(--nav-color);
}

.help-details .card .card-body .card-text {
    font-family: var(--nav-font);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #666666;
}

.help-details .card .card-body .card-text span {
    font-weight: 700;
    color: #000000;
}

/*--------------------------------------------------------------
  # Video Section
  --------------------------------------------------------------*/
.video {
    padding: 20px 0;
}

.video img , .video video{
    width: 100%;
    height: 100%;
    box-shadow: 0px 5px 15px 0px #00000059;
    border-radius: 40px;
}

/*--------------------------------------------------------------
  # Pricing Section
  --------------------------------------------------------------*/
.pricing .pricing-details .card {
    border-radius: 20px;
    box-shadow: 0px 0px 0px 1px #0000001A;
    background: #F5F5F5;
}

.pricing .pricing-details .card .pricing-img {
    position: absolute;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.pricing .pricing-details .card .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 120px;
}

.pricing .pricing-details .card .circle img {
    width: 45%;
    height: 45%;
}

.pricing .pricing-details .card .circle h2 {
    position: absolute;
    background: #ffffff;
    font-family: var(--nav-font);
    font-size: 44px;
    font-weight: 800;
    text-align: center;
    color: #201F1F;
    border-radius: 30px;
}

.pricing .pricing-details .card .circle h2 span {
    font-size: 34px;
    font-weight: 500;
}

.pricing .pricing-details .btn-secondary {
    background: #F4B81C;
    font-family: var(--nav-font);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 26.24px;
    color: #201F1F;
    padding: 12px 0;
    margin-top: 20px;
    border: none;
    border-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: transform 0.3s ease;
}

.pricing .pricing-details .btn-secondary:hover {
    transform: scale(0.9);
    border-radius: 10px;
}

/*--------------------------------------------------------------
  # Contact Us Section
  --------------------------------------------------------------*/
.contactus {
    background-image: url('../images/contact/contact-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.contactus .contact-img img {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.contactus form input {
    border: 1px solid #9D9D9DCC !important;
    background: #D9D9D933 !important;
    height: 50px;
    border-radius: 10px !important;
}

.contactus form textarea {
    border: 1px solid #9D9D9DCC !important;
    background: #D9D9D933 !important;
    border-radius: 10px !important;
}

.contactus form label {
    font-size: 20px;
    color: #000000;
    font-family: var(--nav-font);
    font-weight: 500;
    line-height: 30px;
}

.contactus form::placeholder {
    font-family: var(--nav-font);
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    color: #B0ACAC;
}

.contactus .contactus-details a,
.contactus .contactus-details button {
    font-family: var(--heading-font) !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    color: #FFFFFF;
    border-radius: 10px !important;
    padding: 8px 40px;
}