@media (min-width:1920px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1550px !important
    }
}

@media (max-width:1440px) {
    .hero .hero-title .h1 {
        font-size: 75px;
        line-height: 75px
    }

    .hero .hero-img img {
        width: 95%;
        height: 100%;
        position: static
    }

    .hero .hero-left {
        margin-top: 40px;
        margin-left: 60px
    }

    .hero .hero-des h1 {
        font-size: 50px;
        line-height: 50px
    }

    .hero .hero-title .h1 sup {
        top: -2em
    }

    .hero .hero-btns a:last-child {
        margin-left: -20px
    }

    .features .card {
        margin-bottom: 12px
    }

    .features .f-num strong {
        font-size: 65px
    }

    .features .features-slider img {
        height: 97%;
    }

    .features .fc-main strong,
    .footer .footer-links ul a {
        font-size: 20px
    }

    .features .fc-main strong img {
        width: 22px;
        height: 22px
    }

    .features .fc-main p {
        font-size: 14px
    }

    .features .features-details,
    .pricing .pricing-details {
        padding: 0
    }

    .player-today .container {
        padding: 0 15px;
    }

    .auctions .auctions-details .card-body {
        bottom: 25px;
        left: 25px
    }

    .mobile-app .mobile-app-content p,
    .pricing .pricing-details .card .circle h2 span {
        font-size: 22px
    }

    .mobile-app .mobile-app-content p {
        line-height: 34px;
    }

    .mobile-app .mobile-app-list .list-item i,
    .mobile-app .mobile-app-list .list-item p {
        font-size: 22px;
        line-height: 24px;
    }

    .about .about-details .about-content p {
        font-size: 18px;
        line-height: 34px;
    }

    .pricing .pricing-details .card .circle h2 {
        font-size: 28px
    }

    .footer .footer-links .social img {
        width: 32px;
        height: 32px
    }

    .about,
    .auctions,
    .clients,
    .contactus,
    .features,
    .help,
    .mobile-app,
    .pricing,
    .video {
        padding: 15px 0
    }

    .about .container,
    .about .container .row {
        padding-top: 2rem
    }

    .features .container-fluid {
        padding: 0 3rem
    }

    .section-title h1,
    .section-title h3 {
        font-size: 44px
    }

    .pricing .price {
        padding: 0 4rem
    }

    .pricing .pricing-details .card .circle img {
        width: 39%;
        height: 39%
    }

    .pricing .pricing-details .card .circle {
        padding-top: 85px
    }

    .pricing .pricing-details .btn-secondary {
        font-size: 18px;
        padding: 8px 0
    }

    .auction-title,
    .auction-title-upcoming {
        font-size: 25px;
    }

    .auction-date,
    .auction-date-upcoming {
        font-size: 22px;
    }

    .calender {
        width: 30px;
        height: 30px;
    }

    .today-logo {
        width: 130px;
        height: 130px;
    }

    .upcoming-logo {
        width: 150px;
        height: 150px;
    }

    .view-all {
        font-size: 16px;
    }

    .help-details .card img {
        height: 180px;
    }

    .auction-number {
        font-size: 65px;
    }

    .auct-head,
    .number-app .app-head {
        font-size: 25px;
    }

    .number-app .app-button {
        font-size: 16px;
        padding: 5px 12px;
    }

    .section-title img {
        width: 40px;
        height: 40px;
    }

    .footer .footer-links ul li {
        padding: 8px 0;
    }

    .footer .container {
        padding: 3rem 0 0 0;
    }

    .card-img,
    .card-img-bottom,
    .card-img-top {
        width: 100%;
        height: 60%;
    }

    .footer .footer-links ul i {
        font-size: 22px;
    }

    .footer .footer-links ul a {
        line-height: 28px;
    }
    .left-side{
        padding: 60px;
    }
}

@media (max-width:1366px) {
    .footer .footer-links .social img {
        width: 28px;
        height: 28px
    }

    .features .f-num strong {
        font-size: 58px
    }

    .features .features-slider img {
        height: 94%;
    }

    .features .card {
        margin-bottom: 10px
    }

    .about .about-details .about-heading h3 {
        font-size: 46px
    }

    .mobile-app .mobile-app-heading h3 {
        font-size: 42px
    }

    .pricing .pricing-details .btn-secondary {
        margin-top: 5px;
        font-size: 16px;
        padding: 6px 0
    }

    .contactus form input {
        height: 45px
    }

    .contactus .con-mar {
        margin-bottom: .5rem
    }

    .contactus form textarea {
        height: 100px
    }

    .pricing .price {
        padding: 0 4rem
    }

    .pricing .pricing-details {
        padding: 0
    }

    .pricing .pricing-details .card .circle img {
        width: 44%;
        height: 44%
    }

    .pricing .pricing-details .card .circle {
        padding-top: 70px
    }

    .pricing .pricing-details .card .circle h2 span,
    .auction-date,
    .auction-date-upcoming {
        font-size: 20px
    }

    .pricing .pricing-details .card .circle h2 {
        font-size: 24px
    }

    .team-subcontent,
    .team-location {
        font-size: 14px;
    }

    .today-content,
    .upcoming-content {
        gap: 10px;
        padding: 10px;
    }

    .auction-title,
    .auction-title-upcoming,
    .auct-head,
    .number-app .app-head {
        font-size: 22px;
    }

    .calender {
        width: 25px;
        height: 25px;
    }

    .today-logo {
        width: 125px;
        height: 125px;
    }

    .upcoming-logo {
        width: 130px;
        height: 130px;
    }

    .auction-number {
        font-size: 60px;
    }

    .pricing .pricing-details .card .circle {
        padding-top: 60px;
    }

    .team-detail {
        gap: 0px;
    }

    .team-detail h2 {
        font-size: 26px;
        line-height: 28px;
    }
    .left-side{
        padding: 40px;
    }
}

@media (max-width:1280px) {
    .mobile-app .mobile-app-heading h3 {
        font-size: 40px
    }

    .features .features-slider img {
        height: 98%
    }

    .about .about-details .about-heading h3 {
        font-size: 52px
    }

    .about .about-details {
        width: 100%
    }

    .features .fc-main strong,
    .footer .footer-links ul a {
        font-size: 20px
    }

    .features .card-body {
        padding: 6px
    }

    .help-details .card .card-body .card-text {
        font-size: 14px;
        padding: 0
    }

    .about .container,
    .about .container .row {
        padding-top: 1rem
    }

    .auctions .auctions-details .card-body {
        bottom: 22px;
        left: 22px
    }

    .auctions .auctions-details .card-body .auction-img {
        width: 70px;
        height: 70px
    }

    .hero .hero-left {
        margin-left: 70px
    }

    .contactus .contact-form {
        padding-left: 1rem
    }

    .contactus form input {
        height: 50px
    }

    .footer .footer-links .con i {
        margin-right: 6px
    }

    .footer .footer-links .social img {
        width: 28px;
        height: 28px;
        margin-right: 8px
    }

    .auctions .auctions-details .card-auc img {
        margin-left: -10px
    }

    .mobile-app .mobile-app-list .list-item i,
    .mobile-app .mobile-app-list .list-item p {
        font-size: 20px;
        line-height: 22px
    }

    .mobile-app .mobile-app-content p {
        font-size: 20px;
        line-height: 30px
    }

    .features .fc-main p {
        font-size: 12px
    }

    .features .f-num strong {
        font-size: 60px
    }

    .features .card {
        margin-bottom: 9px
    }

    .pricing .pricing-details .card .circle h2 {
        font-size: 22px
    }

    .pricing .pricing-details .card .circle h2 span {
        font-size: 18px
    }

    .pricing .price {
        margin-bottom: .7rem
    }

    .pricing .pricing-details .btn-secondary {
        font-size: 15px;
        padding: 5px 0;
        margin-top: 5px
    }

}

@media (max-width:1200px) {
    .header .logo {
        order: 1
    }

    .header .navmenu {
        order: 3
    }

    .hero .hero-title .h1 {
        font-size: 65px;
        line-height: 45px
    }

    .hero .hero-des h1 {
        font-size: 40px;
        line-height: 44px;
    }
}

@media (min-width:1200px) {

    .navmenu .dropdown ul,
    .navmenu .megamenu ul {
        margin: 0;
        background: var(--nav-dropdown-background-color);
        position: absolute;
        top: 130%;
        opacity: 0;
        transition: .3s;
        border-radius: 4px;
        z-index: 99
    }

    .navmenu {
        padding: 0
    }

    .navmenu ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center
    }

    .navmenu li {
        position: relative
    }

    .navmenu a,
    .navmenu a:focus {
        color: var(--nav-color);
        padding: 18px 15px;
        font-size: 18px;
        font-family: var(--nav-font);
        font-weight: 500;
        display: flex;
        text-decoration: none;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        transition: .3s
    }

    .navmenu a i,
    .navmenu a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
        transition: .3s
    }

    .navmenu li:last-child a {
        padding-right: 0
    }

    .navmenu .active,
    .navmenu .active:focus,
    .navmenu li:hover>a {
        color: var(--accent-color);
        font-weight: 600
    }

    .navmenu .dropdown ul {
        padding: 10px 0;
        display: block;
        visibility: hidden;
        left: 14px;
        box-shadow: 0 0 30px rgba(0, 0, 0, .1)
    }

    .navmenu .dropdown ul li {
        min-width: 200px
    }

    .navmenu .dropdown ul a {
        padding: 10px 20px;
        font-size: 15px;
        text-transform: none;
        color: var(--nav-dropdown-color)
    }

    .navmenu .dropdown ul a i {
        font-size: 12px
    }

    .navmenu .dropdown ul .active:hover,
    .navmenu .dropdown ul a:hover,
    .navmenu .dropdown ul li:hover>a,
    .navmenu .megamenu ul li .active,
    .navmenu .megamenu ul li .active:hover,
    .navmenu .megamenu ul li a:hover {
        color: var(--accent-color)
    }

    .navmenu .dropdown:hover>ul,
    .navmenu .megamenu:hover>ul {
        opacity: 1;
        top: 100%;
        visibility: visible
    }

    .navmenu .dropdown .dropdown ul {
        top: 0;
        left: -90%;
        visibility: hidden
    }

    .navmenu .dropdown .dropdown:hover>ul {
        opacity: 1;
        top: 0;
        left: -100%;
        visibility: visible
    }

    .navmenu .megamenu {
        position: static
    }

    .navmenu .megamenu ul {
        padding: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, .1);
        left: 0;
        right: 0;
        visibility: hidden;
        display: flex
    }

    .navmenu .megamenu ul li {
        flex: 1
    }

    .navmenu .megamenu ul li a,
    .navmenu .megamenu ul li:hover>a {
        padding: 10px 20px;
        font-size: 15px;
        color: var(--accent-color)
    }
}

@media (max-width:1199px) {
    .mobile-nav-toggle {
        color: var(--nav-color);
        font-size: 28px;
        line-height: 0;
        cursor: pointer;
        transition: color .3s
    }

    .navmenu {
        padding: 0;
        z-index: 9997
    }

    .navmenu ul {
        display: none;
        list-style: none;
        height: fit-content;
        position: absolute;
        inset: 60px 20px 20px 20px;
        padding: 10px 0;
        margin: 0;
        border-radius: 6px;
        background-color: var(--nav-mobile-background-color);
        overflow-y: auto;
        transition: .3s;
        z-index: 9998;
        box-shadow: 0 0 30px rgba(0, 0, 0, .1)
    }

    .navmenu a,
    .navmenu a:focus {
        color: var(--heading-color) !important;
        padding: 10px 20px;
        font-family: var(--nav-font);
        font-size: 18px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        text-decoration: none;
        transition: .3s
    }

    .navmenu a i,
    .navmenu a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: .3s;
        background-color: color-mix(in srgb, var(--accent-color), transparent 90%)
    }

    .navmenu a i:hover,
    .navmenu a:focus i:hover {
        background-color: var(--accent-color);
        color: var(--contrast-color)
    }

    .navmenu .active,
    .navmenu .active:focus,
    .navmenu a:hover {
        color: #fff !important
    }

    .navmenu .active i,
    .navmenu .active:focus i {
        background-color: var(--accent-color);
        color: #fff;
        transform: rotate(180deg)
    }

    .navmenu .dropdown ul {
        position: static;
        display: none;
        z-index: 99;
        padding: 10px 0;
        margin: 10px 20px;
        background-color: var(--nav-dropdown-background-color);
        border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
        transition: .5s ease-in-out;
        box-shadow: none
    }

    .navmenu .dropdown ul ul {
        background-color: rgba(33, 37, 41, .1)
    }

    .navmenu .dropdown>.dropdown-active {
        display: block;
        background-color: rgba(33, 37, 41, .03)
    }

    .mobile-nav-active {
        overflow: hidden
    }

    .mobile-nav-active .mobile-nav-toggle {
        color: #fff;
        position: absolute;
        font-size: 32px;
        top: 15px;
        right: 15px;
        margin-right: 0;
        z-index: 9999
    }

    .mobile-nav-active .navmenu {
        position: fixed;
        overflow: hidden;
        inset: 0;
        background: rgba(33, 37, 41, .8);
        transition: .3s
    }

    .mobile-nav-active .navmenu>ul {
        display: block
    }

    .section,
    section {
        scroll-margin-top: 66px
    }

    .auction-title {
        font-size: 23px;
    }

    .today-date {
        font-size: 20px;
    }

    .upcoming-auction {
        padding: 0px;
    }

    .auction-title-upcoming {
        font-size: 23px;
    }

    .upcoming-date {
        font-size: 20px;
    }

    .team-content {
        display: flex;
    }

    .team-image img {
        width: 150px;
        height: 154px;
    }

    .team-subcontent {
        font-size: 12px;
        line-height: 23px;
    }

    .team-location {
        font-size: 12px;
    }

    .team-detail {
        margin-top: 6px;
    }

    .team-content {
        gap: 15px;
    }

    .team-detail h2 {
        font-size: 18px;
        line-height: 23px;
    }

    .gallery-title {
        font-size: 17px;
    }

    .auction-date-video {
        font-size: 16px;
    }

}

@media (max-width:1024px) {

    .about .about-details .about-btn a,
    .register-btn a {
        padding: 8px 16px
    }

    .heading-top {
        padding: 0 55px
    }

    .section-title h1,
    .section-title h3 {
        font-size: 40px
    }

    .heading-bottom {
        padding: 10px 55px
    }

    .footer .h4 {
        font-size: 22px
    }

    .hero .hero-left {
        margin-left: 50px
    }

    .hero .hero-btns a:last-child {
        margin-left: -10px
    }

    .auctions .auctions-details .card-body .card-title,
    .footer .footer-links ul a,
    .hero .hero-title h1 sup {
        font-size: 16px
    }

    .auctions .auctions-details .card-body {
        bottom: 18px;
        left: 18px;
        padding: 5px
    }

    .auctions .auctions-details .card-auc img,
    .footer .footer-links .social img {
        width: 24px;
        height: 24px
    }

    .about .about-details .about-heading h3 {
        font-size: 42px;
        line-height: 50px
    }

    .about .about-details .about-content p {
        font-size: 15px;
        line-height: 24px
    }

    .mobile-app .mobile-app-heading h3 {
        font-size: 34px;
        line-height: 50px
    }

    .mobile-app .mobile-app-heading img {
        width: 35px;
        height: 35px
    }

    .mobile-app .mobile-app-content p,
    .mobile-app .mobile-app-list .list-item i,
    .mobile-app .mobile-app-list .list-item p {
        font-size: 16px;
        line-height: 22px
    }

    .register-btn a {
        font-size: 16px !important
    }

    .mobile-app .mobile-app-list p i {
        padding-right: 10px
    }

    .help-details .card .card-body .card-title {
        font-size: 20px
    }

    .help-details .card .card-body .card-text {
        font-size: 12px;
        line-height: 20px
    }

    .about .about-details .about-heading h3 sup,
    .mobile-app .mobile-app-heading h3 span sup {
        top: -1.5em;
        margin-left: -3px
    }

    .clients .clients-details .client-img {
        margin: 0
    }

    .pricing .pricing-details .card .circle h2 {
        font-size: 21px
    }

    .pricing .pricing-details .card .circle h2 span {
        font-size: 18px
    }

    .pricing .pricing-details .btn-secondary {
        font-size: 14px;
        padding: 3px 0
    }

    .features .fc-main {
        padding: 3px
    }

    .features .fc-main strong {
        font-size: 15px
    }

    .features .fc-main strong img {
        width: 20px;
        height: 20px
    }

    .features .fc-main p {
        font-size: 10px
    }

    .features .card {
        margin-bottom: 7px;
        border-bottom: 4px solid #ccc;
        border-radius: 10px
    }

    .footer .footer-links ul {
        margin-top: 15px;
    }

    .contactus form label {
        font-size: 18px;
        line-height: 24px
    }

    .contactus form input {
        height: 40px
    }

    .auctions .auctions-details .card-body .auction-img {
        width: 60px;
        height: 60px
    }

    .hero {
        padding: 100px 0 40px
    }

    .auctions-details,
    .features-details {
        padding-top: 0
    }

    .features .f-num strong {
        font-size: 50px
    }

    .features .card.active,
    .features .card:hover {
        border-bottom: 4px solid #910f0d
    }

    .features .features-slider img {
        border-radius: 20px;
    }

    .blog-heading {
        font-size: 49px;
    }

    .blog-heading span {
        font-size: 49px;
    }

    .read-head {
        font-size: 40px;
    }

    .read-content {
        font-size: 27px;
    }

    .auction-number {
        font-size: 54px;
    }

    .auct-head {
        font-size: 20px;
    }

    #current-logo img {
        width: 120px;
        height: 120px;
    }

    #prev-logos img,
    #next-logos img {
        width: 70px;
        height: 70px;
    }

    .testimonial-quote h3 {
        font-size: 37px;
    }

    .testimonial-quote p {
        font-size: 20px;
    }

    .fir-bgimg img {
        width: 130px;
    }

    .sec-bgimg img {
        width: 130px;
    }

    .heading-top {
        display: flex;
        justify-content: center;
    }

    .heading-top ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        flex-direction: column;
    }

    .head-top a img {
        width: 25px;
        height: 25px;
    }

    .footer .footer-links ul i {
        font-size: 17px;
    }
     .getapp .getlogo {
        max-width: 450px;
    }
    .getapp .section-details{
        font-size: 29px;
    }
    .getapp .section-para {
        font-size: 18px;;
    }
    .left-side{
        gap: 15px;
    }
}

@media (max-width: 992px) {
     .getapp {
        height: auto;
        flex-direction: column;
    }

    .left-side,
    .getapp .right-side {
        height: auto;
        padding: 20px;
    }

    .right-side .app-mockup img {
        max-height: 60vh;
        width: 100%;
    }
    .getapp .left-side {
        padding: 20px;
        align-items: center;
        text-align: center;
    }

}

@media (max-width:912px) {
    .pricing .pricing-details .card .circle h2 {
        font-size: 23px
    }

    .pricing .pricing-details .card .circle h2 span {
        font-size: 20px
    }

    .features .features-slider {
        margin-bottom: 30px
    }

    .team-image img {
        width: 210px;
        height: 175px;
    }

    .team-content {
        display: flex;
    }

    .arrow.right-arrow {
        margin-right: 0px;
    }

    .arrow.left-arrow {
        margin-left: 0px;
    }
}

@media (max-width:768px) {
    .heading-top {
        padding: 0 30px
    }

    .heading-bottom {
        padding: 10px 30px
    }

    .footer .container {
        padding: 1.5rem 0
    }

    .help::before,
    .hero .hero-img img {
        width: 100%;
        height: 100%;
        top: 0
    }

    .auctions .auctions-details .card-body .card-title {
        font-size: 12px
    }

    .auctions .auctions-details .card-body {
        bottom: 11px;
        left: 11px
    }

    .auctions .auctions-details .card-body .auction-img img {
        width: 100%;
        height: 55px;
        max-height: fit-content
    }

    .features .feature-btn,
    .features .mobile-features {
        display: block
    }

    .price-left {
        padding-top: 30px !important
    }

    .help .help-details .help-content .help-card-det h5 {
        font-size: 26px
    }

    .help .help-details .help-content .help-card-det p {
        font-size: 14px
    }

    .mobile-app-details {
        padding-bottom: 2.5rem
    }

    .about .container,
    .about .container .row {
        padding-top: 1rem
    }

    .pricing .pricing-details .card {
        border-radius: 10px
    }

    .pricing .pricing-details .card .pricing-img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px
    }

    .pricing .price {
        padding: 0 1rem
    }

    .pricing .pricing-details .card .circle {
        padding-top: 60px
    }

    .pricing .pricing-details .btn-secondary {
        font-size: 14px;
        padding: 3px 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px
    }

    .pricing .pricing-details .card .circle h2 {
        font-size: 20px
    }

    .pricing .pricing-details .card .circle h2 span {
        font-size: 16px
    }

    .features .card.active,
    .features .card:hover {
        border-bottom: 6px solid #910f0d
    }

    .features .card {
        border-bottom: 6px solid #ccc
    }

    .features .features-left,
    .features .features-right {
        display: none
    }

    .features .features-mobile {
        display: flex;
        align-items: center;
        justify-items: flex-start
    }

    .features .carousel-item {
        padding: 0 10rem
    }

    .features .container-fluid {
        padding: 1.5rem
    }

    .footer .copyright,
    .footer .copyright a {
        margin-top: 0
    }

    .register-btn {
        justify-content: center
    }

    .pricing .pricing-details {
        padding: 1rem 0
    }

    .help-details,
    .mobile-app .row {
        padding: .5rem 0
    }

    .video iframe,
    .video img,
    .video video {
        border-radius: 20px
    }

    .features .features-slider img {
        width: 75%;
        height: 100%
    }

    .team-detail h2 {
        font-size: 21px;
    }

    .team-subcontent {
        font-size: 14px;
    }

    .team-location {
        font-size: 15px;
    }

    .blog-heading {
        font-size: 40px;
    }

    .blog-heading span {
        font-size: 30px;
    }

    .image-read img {
        height: 500px;
    }

    .read-date {
        font-size: 30px;
    }

    .read-head {
        font-size: 30px;
    }

    .read-content {
        font-size: 20px;
    }

    .player-today h1 {
        font-size: 35px;
    }

    .faq-item {
        padding: 15px;
    }

    .faq-question {
        font-size: 18px;
    }

    .faq-answer {
        font-size: 18px;
    }

    .arrow-icon {
        font-size: 23px;
    }

    .faq-search-box {
        width: 450px;
    }

    .faq-search-box input {
        font-size: 17px;
    }

    .faq-search-box .search-icon {
        font-size: 16px;
    }

    .auction-number {
        font-size: 64px;
    }

    .auct-head {
        font-size: 23px;
    }

    .testimonial-carousel-wrapper .arrow {
        font-size: 20px;
    }

    .fir-bgimg img {
        width: 0px;
    }

    .sec-bgimg img {
        width: 0px;
    }

    .orgament-firstup-img img {
        width: 0px;
    }

    .orgament-firstdown-img img {
        width: 0px;
    }

    .orgament-seconddown-img img {
        width: 0px;
    }

    .orgament-secondup-img img {
        width: 0px;
    }

    .video-tab {
        padding: 10px 35px;
        font-size: 15px;
    }

    .getapp .getlogo {
        max-width: 450px;
    }

    .right-side .auction-title,
    .right-side .auction-subtitle {
        font-size: 24px;
    }

    .right-side .app-mockup img {
        max-width: 250px;
    }

    .getapp .getlinks img,
    .getapp .getrating img {
        max-width: 140px;
    }
    .getapp .getlinks, .getapp .getrating {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
        padding: 10px 0;
        width: -webkit-fill-available;
    }
}

@media screen and (max-width:768px) {
    [data-aos-delay] {
        transition-delay: 0 !important
    }
}

@media (max-width:640px) {
    .auctions .auctions-details .card-body {
        bottom: 20px;
        left: 25px
    }

    .auctions .auctions-details .card-body .card-title {
        font-size: 16px
    }

    .auctions .auctions-details .card {
        margin-bottom: 20px
    }

    .pricing .pricing-details .p-img,
    .pricing .pricing-details .price-images .p-step {
        margin-top: 20px
    }

    .features .features-slider img,
    .video img,
    .video video {
        border-radius: 20px
    }

    .pricing .pricing-details .card .circle {
        padding-top: 140px
    }

    .pricing .pricing-details .card .circle h2 {
        font-size: 54px
    }

    .pricing .pricing-details .card .circle h2 span {
        font-size: 38px
    }

    .features .carousel-item {
        padding: 0 3rem
    }
}
@media (max-width: 576px) {
    .getapp .getlinks img,
    .getapp .getrating img {
        max-width: 130px;
    }
}
@media (max-width:480px) {
    .header .logo img {
        max-height: 35px
    }

    .header .logo h1 {
        font-size: 35px
    }

    .hero .hero-left {
        margin-left: 0
    }

    .hero .hero-title .h1 {
        font-size: 50px;
        line-height: 0
    }

    .hero .hero-des h1 {
        font-size: 32px;
        line-height: 34px
    }

    .about .about-details {
        padding: 25px 18px;
    }

    .mobile-app .mobile-app-heading h3 {
        font-size: 28px;
        line-height: 40px;
    }

    .about .about-details .about-heading h3 {
        font-size: 32px;
        line-height: 40px;
    }

    .about .about-details .about-heading h3 sup,
    .mobile-app .mobile-app-heading h3 span sup {
        font-size: 9px
    }

    .pricing .pricing-details .card .circle {
        padding-top: 115px
    }

    .pricing .pricing-details .card .circle h2 {
        font-size: 40px;
        border-radius: 40px
    }

    .register-btn a {
        padding: 8px 16px;
        font-size: 14px !important
    }

    .footer .container {
        padding: 1rem
    }

    .video iframe,
    .video img,
    .video video {
        border-radius: 10px
    }

    .features .features-slider img {
        width: 85%;
    }

    .section-title img {
        width: 35px;
        height: 35px;
    }

    .team-detail h2 {
        font-size: 20px;
    }

    .team-subcontent {
        font-size: 12px;
    }

    .team-location {
        font-size: 12px;
    }

    .team-content {
        display: block;
    }

    .team-image img {
        width: 100%;
        height: 100%;
    }

    .image-read img {
        height: 400px;
    }

    .blog-heading {
        font-size: 34px;
    }

    .blog-heading span {
        font-size: 27px;
    }

    .image-read {
        margin: 25px 0px;
    }

    .read-date {
        font-size: 26px;
    }

    .read-head {
        font-size: 26px;
    }

    .read-content {
        font-size: 16px;
    }

    .faq-search-box {
        width: auto;
    }

    .player-today h1 {
        font-size: 25px;
    }

    .faq-item {
        padding: 11px;
    }

    .faq-question {
        font-size: 16px;
    }

    .faq-item {
        margin-bottom: 22px;
    }

    .arrow-icon {
        font-size: 21px;
    }

    #current-logo img {
        width: 90px;
        height: 90px;
    }

    #prev-logos img,
    #next-logos img {
        width: 45px;
        height: 45px;
    }

    .testimonial-quote {
        padding: 20px;
    }

    .testimonial-quote h3 {
        font-size: 26px;
    }

    .testimonial-quote p {
        font-size: 17px;
        line-height: 25px;
    }

    .testimonial-quote:after {
        height: 40px;
        width: 40px;
        bottom: -40px;
    }

    .auction-title,
    .auction-title-upcoming,
    .auct-head,
    .number-app .app-head {
        font-size: 18px;
    }

    .number-app .app-button {
        font-size: 14px;
        padding: 3px 8px;
    }

    .auction-number {
        font-size: 50px;
    }

    .number-app .app-head {
        line-height: 28px;
    }

    .today-logo,
    .upcoming-logo {
        width: 100px;
        height: 100px;
    }

    .auction-title,
    .auction-title-upcoming,
    .auct-head,
    .number-app .app-head {
        font-size: 15px;
    }

    .calender {
        width: 22px;
        height: 22px;
    }

    .pricing .pricing-details .card .circle h2 span,
    .auction-date,
    .auction-date-upcoming {
        font-size: 16px;
    }

    .head-top {
        gap: 7px;
    }

    .head-top a img {
        width: 20px;
        height: 20px;
    }

    .footer .footer-links ul a {
        line-height: 20px;
    }
}

@media (max-width:450px) {
    .heading-top {
        padding: 0 22px
    }

    .heading-bottom {
        padding: 10px 12px
    }

    .heading-top ul {
        padding: 10px 0;
        font-size: 13px;
        text-align: center
    }

    .auctions .auctions-details .card-body {
        bottom: 23px;
        left: 23px
    }

    .auctions .auctions-details .card-body .card-title {
        font-size: 15px
    }

    .about .about-details .about-heading h3 {
        font-size: 28px;
        line-height: 38px
    }

    .about .about-details .about-content p {
        font-size: 13px;
        line-height: 22px
    }

    .mobile-app .mobile-app-heading img {
        width: 30px;
        height: 30px
    }

    .mobile-app .mobile-app-list .list-item {
        display: flex;
        gap: 8px;
        color: var(--accent-color)
    }

    .mobile-app .mobile-app-heading h3 {
        font-size: 23px;
        line-height: 32px
    }

    .mobile-app .mobile-app-content p,
    .mobile-app .mobile-app-list .list-item i,
    .mobile-app .mobile-app-list .list-item p {
        font-size: 16px;
        line-height: 20px
    }

    .clients .clients-details .row {
        padding: 0 20px
    }

    .help .help-details .help-content .help-card-det h5 {
        font-size: 22px
    }

    .features .fm-main p,
    .help .help-details .help-content .help-card-det p {
        font-size: 12px
    }

    .about .container,
    .about .container .row {
        padding-top: .5rem
    }

    .pricing .pricing-details .card .circle h2 {
        font-size: 42px;
        border-radius: 28px
    }

    .pricing .pricing-details .card .circle h2 span {
        font-size: 30px
    }

    .features .features-details {
        margin: -37px
    }

    .features .fm-num strong {
        font-size: 60px
    }

    .features .fm-main h5 {
        font-size: 18px
    }

    .features .fm-main h5 img {
        width: 26px;
        height: 26px
    }

    .features .container-fluid {
        padding: 3rem
    }

    .auctions .auctions-details .auc {
        margin-bottom: .6rem
    }

    .contactus form input,
    .contactus form textarea {
        border-radius: 6px !important
    }

    .section-title h1,
    .section-title h2,
    .section-title h3,
    .section-title h4,
    .section-title h5,
    .section-title h6 {
        font-size: 32px
    }

    .about,
    .auctions,
    .clients,
    .contactus,
    .features,
    .help,
    .mobile-app,
    .pricing,
    .video {
        padding: 10px 0
    }

    .pricing .pricing-details {
        padding: 1rem 0 0
    }

    .pricing .price {
        margin-bottom: .9rem
    }

    .testimonial-carousel-wrapper .arrow {
        padding: 10px;
    }
    .getapp .getlogo {
        max-width: 385px;
    }
    .getapp .section-details {
        font-size: 19px;
    }
    .getapp .section-para {
        font-size: 15px;
    }
}

@media (max-width:375px) {
    .pricing .pricing-details .card .circle h2 {
        font-size: 35px;
        border-radius: 20px
    }

    .auction-logo-upcoming {
        width: 90px;
        height: 90px;
    }

    .number-app {
        font-size: 13px;
    }
    .getapp .getlogo {
        max-width: 300px;
    }
    .getapp .section-details {
        font-size: 15px;
    }
    .getapp .section-para {
        font-size: 13px;
    }
    .getapp .getlinks img, .getapp .getrating img {
        max-width: 115px;
    }
}

@media (max-width:320px) {
    .heading-top ul {
        padding: 10px 0;
        font-size: 10px;
        text-align: center
    }

    .section-title h1,
    .section-title h2,
    .section-title h3,
    .section-title h4,
    .section-title h5,
    .section-title h6,
    .section-title h1 span,
    .section-title h2 span,
    .section-title h3 span,
    .section-title h4 span,
    .section-title h5 span,
    .section-title h6 span {
        font-size: 28px
    }

    .hero .hero-title .h1 {
        font-size: 46px
    }

    .hero .hero-title .h1 sup {
        font-size: 13px;
    }

    .hero .hero-des h1 {
        font-size: 28px;
        line-height: 30px
    }

    .auctions .auctions-details .card-body {
        bottom: 18px;
        left: 18px
    }

    .about .about-details .about-heading h2 {
        font-size: 25px;
        line-height: 30px
    }

    .about .about-details .about-content p {
        font-size: 12px;
        line-height: 18px
    }

    .about .about-details .about-btn a {
        padding: 6px 14px;
        font-size: 14px !important
    }

    .mobile-app .mobile-app-heading h1 {
        font-size: 30px;
        line-height: 36px
    }

    .help .help-details .help-content .help-card-det {
        flex-direction: column
    }

    .help .help-details .help-content .help-card-det img {
        max-width: 100%
    }

    .pricing .pricing-details .card .circle {
        padding-top: 90px
    }

    .pricing .pricing-details .card .circle h2 {
        font-size: 31px
    }

    .pricing .pricing-details .card .circle h2 span {
        font-size: 24px
    }

    .features .fm-num strong {
        padding-left: 5px
    }

    .features .fm-main h5 {
        font-size: 15px
    }

    .features .fm-main p {
        font-size: 11px
    }

    .features .fm-main h5 img {
        width: 26px;
        height: 26px
    }

    .features .carousel-item {
        padding: 0 2.5rem
    }

    .mobile-app .mobile-app-heading h3 {
        font-size: 28px;
        line-height: 28px;
    }

    .footer .footer-about .logo img {
        max-height: 40px;
        margin-right: 6px;
    }

    .player-today h1 {
        font-size: 20px;
    }
}